.main {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 6rem;
  min-height: calc(100vh - 85px);
}

.cardContainerGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
  gap: 20px;
}

/* Mobile */
@media (max-width: 700px) {
  .cardContainerGrid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .cardContainerGrid {
    grid-template-columns: repeat(2, 50%);
  }
}
